<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Weather App</title>
    <link rel="stylesheet"  href="{{ url_for('static_files', filename='style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="script.js" defer></script>
</head>

<body>


    <!-- <div class="container"> -->
    <div class="weather-data">
        <h2>WASTE CLASSIFICATION</h2>
        <main>
            <img src="{{ url_for('video_feed') }}" alt="Object Classification Video Feed">
        </main>
    </div>
    <!-- </div> -->

</body>

</html>